{% extends 'back.html.twig' %}

{% block title %}New FicheTechnique{% endblock %}

{% block body %}
    <h1>Create new FicheTechnique</h1>

    {{ include('fiche_technique/_form.html.twig') }}

    <a href="{{ path('app_fiche_technique_index') }}">back to list</a>
{% endblock %}
