
    
<center> <h3>Votre fiche</h3> </center>


<table class="table">
        <tbody>
            <tr>
                <th>Numero fiche est :</th>
                <td>{{ fiche.id }}</td>
            </tr>

            <p>Entreprise LOCATOUR</p>
 <p>  Adresse postale : 1.2 rue andré ampere - 2083 - Pole Technologique Ghazela</p>
 <p>  Adresse e-mail : LOCATOUR125@gmail.com</p>
  <p> Telephone : +216 00 000 000</p>
            
           
            
        </tbody>
    </table>

<br>
<br>
<br>
<br>
</div>


